  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */

.body-content {
  background: url('../../assets/home.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

 
