



    <div class="container">
      <div class="row mtb50">

        <div class="col-md-12 col-xs-12 mx-auto  ">
          <div class="box-shadow">
            <div class="box-white ">
              <div class="row no-gutters ">
                <div class="col-md-6">
                  <img src="../../assets/images/Content_Module1and2_HollisticApp.png" class="img-fluid  w-100">
                </div>

                <div class="col-md-6 my-auto">
                  <div class="mtb50 p20">
                    <h1 class="p20 font2rem">
                      Welcome to the Happier Living Portal
                    </h1>
                    <hr>

                    <button type="button" class="  hlbtngreen m10  ">
                      Sign In to Your Account
                    </button>
                    <button type="button" class="  hlbtngold m10 ">
                      Register Your Account Now
                    </button>


                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>

      </div>
    </div>

